<%-include('header')%>
    <div class="container-fluid">
        <div class="central">
        <div class="center_homepage">
            <h2 class=" text-white font-weight-normal">Oops ! No trains available ...</h1>
            <div class="d-flex">
                <a href="/recherche" class="btn btn_homepage btn_error">Home</a>
    </div>
    <footer>&#169; 2019 La Capsule</footer>
</body>

</html>