<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticketac - Connection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="row-fluid col-12 bg-white p-3">
        <div class="navBar">
        <div class="leftNav">
            <ul>
                <li class="mtl">
                    
                    <a href="/recherche"><img src="../images/train.png" alt="LogoTicEtTac"></a>
                </li>
                <li class="mtl top">
                    Ticketac
                </li>

            </ul>
        </div>
        <div class="rightNav">
            <ul>
                <li class="red mtr"><a href="/logout" class="licolor">Deconnection</a></li>
                <li class="mtr"><a href="/last-commande" class="basic">My last trips</a></li>
            </ul>
        </div>
    </div>
</div>